DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
ALLOWED_CHANNEL_ID=
SPECTATE_CHANNEL_ID=1541513687943090186
FIVEM_SERVER_ID=kqq4yra
FIVEM_PLAYERS_URL=http://45.157.234.215:30120/players.json
FIVEM_PLAYERS_TOKEN=
